<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.kingbond.funprobelm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FunProbelm">
        <activity
            android:name=".Activity_F"
            android:taskAffinity=".activityD.container"
            android:exported="true" />
        <activity
            android:name=".Activity_E"
            android:taskAffinity=".activity.e"
            android:exported="true" />
        <activity
            android:name=".Activity_D"
            android:taskAffinity=".activityD.container"
            android:alwaysRetainTaskState="true"
            android:exported="true" />
        <activity
            android:name=".Activity_C"
            android:taskAffinity=".activity.main"
            android:exported="true" />
        <activity
            android:name=".Activity_B"
            android:taskAffinity=".activity.main"
            android:exported="true" />
        <activity
            android:name=".Activity_A"
            android:taskAffinity=".activity.main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>